<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testCalibrate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E961A4281C937A60002FB4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E961A43C1C937A60002FB4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E961A4471C937A60002FB4BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
